<div class="wrapper">
  <div class="contact py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
      <!-- tittle heading -->
      <h2 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
        <span>Contact US</span>
      </h2>
      <!-- //tittle heading -->
      <div class="row contact-grids agile-1 mb-5">
        <div class="col-sm-4 contact-grid agileinfo-6 mt-sm-0 mt-2">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fas fa-map-marker-alt rounded-circle"></i>
            </div>
            <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Address</h3>
            <p style="font-weight: bold; color: black">
              <strong> Tech Shop </strong> <br />
              Thiyagadurgam, Kallakurichi, <br />
              Tamil Nadu, 606206
            </p>
          </div>
        </div>
        <div class="col-sm-4 contact-grid agileinfo-6 my-sm-0 my-4">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fas fa-phone rounded-circle"></i>
            </div>
            <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Call Us</h3>
            <p style="font-weight: bold; color: black">
              <a style="font-weight: bold; color: black"> +91 99440 37881 </a>
            </p>
          </div>
        </div>
        <div class="col-sm-4 contact-grid agileinfo-6">
          <div class="contact-grid1 text-center">
            <div class="con-ic">
              <i class="fas fa-envelope-open rounded-circle"></i>
            </div>

            <h3 class="font-weight-bold mt-sm-4 mt-3 mb-3">Email</h3>
            <p>
              <a
                style="font-weight: bold; color: black"
                href="mailto:wecare@edubridgeindia.in"
              >
                TechShop@outlook.com</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
