<div class="about-page">
  <div class="welcome py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
      <!-- //tittle heading -->
      <div class="row">
        <h1 style="color: #af3131">About Store</h1>
        <div class="col-lg-6 welcome-left">
          <div><h2>Project Member</h2></div>

          <h4 class="my-sm-3 my-2">
            <li>Vignesh Head _ Senior of the Project Development - America</li>
            <li>Kavin _ Comedy of the Project - French</li>
            <li>Karan _ Visitor of the Project - Japan</li>
          </h4>
        </div>

        <div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4"></div>
        <div class="welcome-left">
          <br /><br />
          <h3 class="text-left" style="color: #af3131">&ensp;What We Do</h3>
          <h4 class="my-sm-3" style="margin-left: 15px">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis at
            nostrum commodi laudantium delectus. Officiis exercitationem
            suscipit sunt fugit commodi voluptatem, consequatur earum tenetur
            qui, deleniti maiores. Perferendis, porro atque, est beatae ut
            recusandae blanditiis commodi esse aperiam ratione quaerat
            explicabo, illum animi. Veniam accusantium consequatur quos id
            molestiae necessitatibus dolores beatae reiciendis quia nemo
            temporibus explicabo dolore iusto aut minima nobis cum, recusandae
            sequi in? Animi velit quibusdam inventore minima nemo exercitationem
            odit, recusandae autem illum saepe necessitatibus eos nisi. Quos
            ipsam harum voluptatibus cumque exercitationem molestiae temporibus,
            sequi possimus ratione, rerum, ab nobis enim! Quia debitis fugiat
            temporibus.
          </h4>
        </div>
        <div class="welcome-left">
          <br /><br />
          <h3 class="text-left" style="color: #af3131">&ensp;Our Vision</h3>
          <h4 class="my-sm-3" style="margin-left: 15px">
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Cupiditate totam tempora amet. Repellendus, nihil iste?
            </li>
            <li>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
              vero dolore, quasi deleniti ipsa qui?
            </li>
            <li>Lorem ipsum dolor sit amet.</li>

            <img src="../../../assets/images/banner.jpg" class="center" />

            <p class="text-center">
              Copyright 1999-2023 by Refsnes Data.
              <br />
              All Rights Reserved.
              <br />
              Tech Shop is Powered by India.

              <!--     <img
                src="https://randomuser.me/api/portraits/women/11.jpg"
                class="rounded-circle mb-3"
                alt=""
              />
              -->
            </p>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
